@{
    ViewData["Title"] = "Home";
    var index = (int)ViewData["PageIndex"];
    var pageSize = 8;
}

<div class="text-center">
    @if (index > 0)
    {
        <a href="/?page=@(index-1)">Previous Page</a>
    }
    @if (index > 0 && index < 1023)
    {
        @:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    }
    @if (index < 1023)
    {
        <a href="/?page=@(index+1)">Next Page</a>
    }
    <br />

    <div style="display:flex; flex-wrap: wrap;">
        @for (var i = index * pageSize; i < (index * pageSize) + pageSize; i++)
        {
            <div style="display:flex; flex-direction: column;">
                <p>Token @i</p>
                <img src="/ghostnft/mint?token=@i" alt="Image Of Token @i" title="Token @i" style="margin-top: 3px; margin-left: 3px;" width=128 height=192 />
            </div>
        }
    </div>
</div>
